* {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}


/* NAVEGADOR STICKY*/



/* fin NAVEGADOR STICKY*/








/*BORRADOR*/




/*FIN DE BORRADOR*/











/*BANNER COMUN A TODAS LAS PAGINAS*/



.hero {

    
    position: relative;
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
}

.hero h1 {

    font-style: italic;
    margin-bottom:  -30px ;
    font-size: 80px;
    color: #fff;
    font-weight: 600;
}

.hero a {

    font-family: 'poppins' sans-serif;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    




}



.hero video {

    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1

}


/*fin BANNER COMUN A TODAS LAS PAGINAS*/




/*PRIMER PARRAFO*/

#fondo-bienvenida {

background-image: linear-gradient(#232323,black);
height: 1000px;




}

.primerparrafo-titulo  {

    height: 100px;
    text-align: center;
    padding-top: 50px;
    color: #f5efef;
    font-size: 34px;

}

.primerparrafo-texto {

    
    padding: 0px;
    padding-top: 0px;
    text-align: center;
    color: #faf8f8;
    
    

}

.primerparrafo-texto p {

    font-size: 22px;    
    height: 400px ;
    width: 600px;
    margin: 100px;
    text-align: center;
    margin-bottom: 0px;
    
}

.primerparrafo-texto img {

    height: 300px;
    width: 300px;
    margin: 100px;
    

}

/*FIN PRIMER PARRAFO*/




/*SEECION CARTAS DERIVADORAS*/


.container-cards {


    background-color: #282926;
    height: 1400px;
    text-align: center;
    padding: 100px;
    color: #fff;
     

}


.container-cards h2 {

    font-size: 60px;
    padding: 50px;



}

.container-cards .row {

    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.container-cards .row {

    box-shadow: 15px 25px 57px 1px rgba(255,255,255,0.81);
    -webkit-box-shadow: 15px 25px 57px 1px rgba(255,255,255,0.81);
    -moz-box-shadow: 15px 25px 57px 1px rgba(255,255,255,0.81);

}

.container-cards .row .card  {

    font-style: italic;
    transition: all 400ms ease;
}

.container-cards .row .card:hover  {

    transform: translateY(-3%);


}
/*SEECION CARTAS DERIVADORAS*/





/*TERCER PARRAFO*/


.container-obtendras {

    height: 1000px;
    text-align: center;
    font-size: 40px;
    background-color: #fff;
    padding-top: 100px;
    font-weight: bolder;
    letter-spacing: 3px;


}

.container-fluid {

    height: 300px;
    text-align: center;
    margin-top: 100px ;


}

.container-fluid img {

    height: 100px;
    width: 100px;
    margin: 20px;

}


/*FIN TERCER PARRAFO*/





/*FONDO FITNESS*/



.fondo-fitness {

    background-image: url(../imagenes/fitness-mujer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 700px;
    width: 100%;


}


/* FIN FONDO FITNESS*/






/*CUARTO PARRAFO */

.cuartoparrafo {

    background-image: url(../imagenes/fondoguantes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 500px;
    width: 100%;
    text-align: center;
    display: table;
    padding-top: 250px;
    padding-bottom: 250px;
    
    
}

.cuartoparrafo div {

    color: #fff;
    font-weight: bolder;
    font-size: 56px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    height: 300px;
   
}

.cuartoparrafo div a {

    font-weight: bolder;
    font-size: 56px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: black ;
    font-style: italic;
}






/*FIN CUARTO PARRAFO*/


.ultimoparrafo {

    background-color: black ;
    height: 600px;
    text-align: center;

}

/* PARTE DE CONTACTO */


.container-form  {

    background-color: #141414;
    height: 900px;
    padding : 120px 0 120px 120px ;
   
    
    
}

.container-form h2 {

    margin-bottom: 15px;
    font-size: 35px;
    color: #efefef;
}

.container-form p {

    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 50px;
    color: #efefef;

}

.container-form form .campo, textarea {

    padding: 15px 15px;
    font-size: 15px;
    border: 1px solid #212121;
    margin-bottom: 20px;
    border-radius: 20px;
    outline: 0px;

}

.container-form form textarea {

    width: 700px;
    min-width: 300px;
    max-height: 200px;
    min-height: 200px;


}

.container-form .btn-enviar {

    padding: 15px;
    margin-left: 50px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background-color: rgb(226, 226, 134) ;
    border-radius: 20px;
    cursor: pointer;
    transition: all 300ms ease;
    

}



/*fin parte de contacto*/


/*FOOTER*/


.pie-pagina {

   width: 100%;
   background-color: #212121;

}
    
.pie-pagina .grupo-1 {

    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;

}

.pie-pagina .grupo-1 .box figure {

 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;


}

.pie-pagina .grupo-1 .box figure img {

    width: 250px;
}

.pie-pagina .grupo-1 .box h2 {

    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {

    color: #efefef;
    margin-bottom: 10px;

}

.pie-pagina .grupo-2 {

    background-color: #141414;
    text-align: center;
    color: #fff;
}

.pie-pagina a {

    text-decoration: none;
    color: #bbe25e;

}

/* fin FOOTER*/




/* NUTRICION PAGINA 2*/


.seccion-primera {

    background-color: #212121;
    font-size: 40px;
    text-align: center;
    font-weight: 900;
    color: #fff;
    height: 500px;

}

.seccion-primera h2 {

font-size: 50px ;
padding: 50px;

}

.text-end {

    font-size: 30px;
    padding: 30px;


}




.nutricioncontenedor {

        background-image: url(../imagenes/fotonutricion1.jpg);
        height: 900px;
        background-size: cover;
        background-repeat: no-repeat;
        

}


.nutricion-titulo {

    font-size: 50px;
    text-align: center;
    padding: 220px 0px;
    margin-bottom: 0px;
}


.nutricionprimerparrafo {

    font-size: 22px;
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 150px;
}







/* NUTRICION PAGINA 2*/

/*ENTRENAMIENTO PAGINA 3*/

.container-entrenamiento {

    background: rgb(70,75,102);
    background: radial-gradient(circle, rgba(70,75,102,0.8323704481792717) 0%, rgba(41,38,39,0.8295693277310925) 100%);
    height: 1300px ;
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
    

}

.container-entrenamiento h2 {

    font-size: 45px;
    font-style: italic;
    font-weight: 700;
    padding: 100px;



}




.container-entrenamiento .motivos {

    display: grid;
    width: 80%;
    margin: 0 auto;
    grid-template-columns: auto auto;
    

}

@media (max-width:700px) {
    
    .container-entrenamiento .motivos {

    display: grid;
    width: 80%;
    margin: 0 auto;
    grid-template-columns: auto ;
    

}

}

.container-entrenamiento .motivos-1 {

    
    margin: 5px;
    padding: 10px;
}


.container-entrenamiento .motivos-2 {

   
    margin: 5px;
    padding: 10px;


}







/*DESCANSO PAGINA 4*/ 

.container-descanso {

background-image: url(../imagenes/foto-gato-descanso.jpg);
height: 900px;
background-size: cover;
background-repeat: no-repeat;
color: #fff;
font-size: 40px;
text-align: center;

}



/*DESCANSO PAGINA 4*/ 
