/* NUTRICION PAGINA 2*/


.seccion-primera {

    background-color: #212121;
    font-size: 40px;
    text-align: center;
    font-weight: 900;
    color: #fff;
    height: 500px;
            h2 {

                font-size: 50px ;
                padding: 50px;
                
                }

}

.text-end {

    font-size: 30px;
    padding: 30px;


}

.nutricioncontenedor {

        background-image: url(../imagenes/fotonutricion1.jpg);
        height: 900px;
        background-size: cover;
        background-repeat: no-repeat;
        

}


.nutricion-titulo {

    font-size: 50px;
    text-align: center;
    padding: 220px 0px;
    margin-bottom: 0px;
}


.nutricionprimerparrafo {

    font-size: 30px;
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 150px;
    font-weight: bolder;
}


.nutricioncontenedor2 {

        background-color: #7185499f;
        padding: 40px;

        h3 {

            text-align: center;
            margin: 15px;
            padding: 30px;
        
        }


}



.fondo-cocina {

    background-image: url(../imagenes/platodecarne.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    background-attachment: fixed;

}




/* NUTRICION PAGINA 2*/