/*DESCANSO PAGINA 4*/ 

.container-descanso {

    background-color: #7185499f;
    padding: 40px;
            h3 {

                text-align: center;
                margin: 15px;
                padding: 30px;
            
            }

}





.fondo-gato   {  

background-image: url(../imagenes/foto-gato-descanso.jpg);
height: 600px;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;

}



/*DESCANSO PAGINA 4*/ 